<section class="page page--full-height page--padded page--portfolio {% if alt %}page--alt{% endif %}">
	<div class="page__content portfolio__item">
		<div class="row">
			<div class="portfolio__content">
				{% if logo %}
				<p><img src="https://tomodomo.imgix.net/assets/img/client-logos/{{logo}}" alt="" height="45"></p>
				{% endif %}

				{% markdown %}
				{{content}}
				{% endmarkdown %}

				{% if quote %}
				<blockquote class="quote portfolio__quote">
					<p>"{{quote}}"</p>
					<footer class="quote__footer">— <cite>{{citation}}</cite></footer>
				</blockquote>
				{% endif %}
			</div>
			<div class="portfolio__screenshot">
				<div class="screenshot" style="background-image: url('https://tomodomo.imgix.net{{screenshot}}');"></div>
			</div>
		</div>
	</div>
</section>
